@*@model PermissionDTO*@
@{
    ViewBag.Title = "添加权限";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headScript
    {
    <link href="~/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
}
<div class="pd-20">
    <form action="/Permission/Add" method="post" class="form form-horizontal" id="form-admin-add">
        
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>权限名称：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="" id="name" name="name" datatype="*2-16" nullmsg="权限名不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">描述：</label>
            <div class="formControls col-5">
                <textarea name="description" cols="" rows="" class="textarea" placeholder="权限描述...1000个字符以内" dragonfly="true" onKeyUp="textarealength(this,1000)"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/1000</p>
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
@section footScripts
{
    <script type="text/javascript" src="~/lib/Validform/5.3.2/Validform.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //$('.skin-minimal input').Check({
            //    checkboxClass: 'icheckbox-blue',
            //    radioClass: 'iradio-blue',
            //    increaseArea: '20%'
            //});

            var addForm= $("#form-admin-add").Validform({
                tiptype: 2,
                callback: function (form) {
                    form[0].submit();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.$('.btn-refresh').click();
                    parent.layer.close(index);
                }
            });

            $('.btn-primary').click(function () {
                if (addForm.check(false)) {
                    var data = $('#form-admin-add').serializeArray();
                    $.ajax({
                        url: '/Permisson/Add',
                        type: 'post',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            //if (data.status == "ok") {
                            //     layer_close();
                            //}
                            parent.location.reload();
                        }
                    })
                }
            });
        });
    </script>
}
