@model List<PermissionDTO>
@{
    ViewBag.Title = "新建网站角色";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .permission-list > dd > dl > dd {
        margin-left: 0;
    }
</style>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-user-character-add">
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-6">
                <input type="text" class="input-text" value="" placeholder="" id="role-name" datatype="*4-16" nullmsg="角色名称不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">备注：</label>
            <div class="formControls col-6">
                <input type="text" class="input-text" value="" placeholder="" id="description" name="">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">网站角色：</label>
            <div class="formControls col-6">
                <dl class="permission-list">
                    <dt>
                        <label>
                            <input type="checkbox" value="" name="user-Character-0" id="user-Character-0">
                            权限列表
                        </label>
                    </dt>
                    <dd>
                        <dl class="cl permission-list2">
                            <dd>
                                @foreach (var permission in Model)
                                {
                                    <label class="">
                                        <input type="checkbox" class="permissionId@(permission.Id)" value="@permission.Id" name="" id="">
                                        @permission.Description
                                    </label>
                                }
                            </dd>
                        </dl>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button type="button" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</div>
@section footScripts
{
    <script type="text/javascript" src="~/lib/Validform/5.3.2/Validform.min.js"></script>
    <script>
        $(function () {
            var addForm= $("#form-user-character-add").Validform({
                tiptype: 2,
                callback: function (form) {//是给直接submit按钮提交表单的时候使用的回调
                    //form[0].submit();
                    //var index = parent.layer.getFrameIndex(window.name);
                    //parent.$('.btn-refresh').click();
                    //parent.layer.close(index);
                }
            });

            $('#admin-role-save').click(function () {
                if (addForm.check(false)) {
                    var permissionIds = [];
                    $('.permission-list2 dd input[type=checkbox]:checked').each(function (index, item) {
                        permissionIds.push($(item).val());
                    });
                    $.ajax({
                        url: '/Role/Add',
                        type: 'post',
                        dataType: 'json',
                        data: { name: $('#role-name').val(), permissionIds: permissionIds, description: $('#description').val() },
                        success: function (data) {
                            if (data.status == "ok") {
                                parent.window.location.href = '/Role/index';
                            }
                        },
                        error: function (data) {
                            layer.alert(data.responseText);
                        }
                    })
                }
              
            })
           







            $(".permission-list dt input:checkbox").click(function () {
                $(this).closest("dl").find("dd input:checkbox").prop("checked", $(this).prop("checked"));
            });
            $(".permission-list2 dd input:checkbox").click(function () {
                var l = $(this).parent().parent().find("input:checked").length;
                var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
                if ($(this).prop("checked")) {
                    $(this).closest("dl").find("dt input:checkbox").prop("checked", true);
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
                }
                else {
                    if (l == 0) {
                        $(this).closest("dl").find("dt input:checkbox").prop("checked", false);
                    }
                    if (l2 == 0) {
                        $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
                    }
                }

            });
        });
    </script>

}
